In [16]:
import pandas as pd
import numpy as np

In [17]:
iris=pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [18]:
df=iris.copy()
df

NameError: name 'iris' is not defined

In [7]:
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [8]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [9]:
print(df.shape)

(149, 5)

In [10]:
print(df.dtypes)

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [13]:
df.columns=['sl','sw','pl','pw','flower_type']

In [15]:
print(df.dtypes)

sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [17]:
df

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [19]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [21]:
df.sl

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [22]:
df['sl']

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [23]:
df.isnull()

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [24]:
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [26]:
df

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [28]:
df.iloc[1:4,2:4]

    pl   pw
1  1.3  0.2
2  1.5  0.2
3  1.4  0.2

In [32]:
a=df.drop(0)
a

      sl   sw   pl   pw     flower_type
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[148 rows x 5 columns]

In [33]:
df.drop(0,inplace=True)
df.head

<bound method NDFrame.head of       sl   sw   pl   pw     flower_type
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[148 rows x 5 columns]>

In [34]:
df.drop(0,inplace=True)
df.head

KeyError: '[0] not found in axis'

In [94]:
df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=150)

In [93]:
df.index[0],df.index[3]

(0, 3)

In [39]:
df.drop(df.index[0],inplace=True)
df.head

<bound method NDFrame.head of       sl   sw   pl   pw     flower_type
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 5 columns]>

In [95]:
df.drop(df.index[[0,1]],inplace=True)
df.head

<bound method NDFrame.head of       sl   sw   pl   pw         species
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
149  5.1  3.5  1.4  0.2     Iris-setosa

[148 rows x 5 columns]>

In [111]:
df.sl>5

4       True
5      False
6      False
7      False
8      False
       ...
146     True
147     True
148     True
0      False
149    False
Name: sl, Length: 147, dtype: bool

In [43]:
df[df.sl>5]

      sl   sw   pl   pw     flower_type
4    5.4  3.9  1.7  0.4     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[117 rows x 5 columns]

In [49]:
df[df.flower_type=='Iris-setosa'].describe()

              sl         sw         pl         pw
count  45.000000  45.000000  45.000000  45.000000
mean    5.022222   3.433333   1.471111   0.248889
std     0.362998   0.391384   0.180432   0.112052
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.200000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

In [52]:
c=df[df.flower_type=='Iris-setosa']
c

     sl   sw   pl   pw  flower_type
4   5.4  3.9  1.7  0.4  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa
20  5.1  3.7  1.5  0.4  Iris-setosa
21  4.6  3.6  1.0  0.2  Iris-setosa
22  5.1  3.3  1.7  0.5  Iris-setosa
23  4.8  3.4  1.9  0.2  Iris-setosa
24  5.0  3.0  1.6  0.2  Iris-setosa
25  5.0  3.4  1.6  0.4  Iris-setosa
26  5.2  3.5  1.5  0.2  Iris-setosa
27  5.2  3.4  1.4  0.2  Iris-setosa
28  4.7  3.2  1.6  0.2  Iris-setosa
29  4.8  3.1  1.6  0.2  Iris-setosa
30  5.4  3.4  1.5  0.4  Iris-setosa
31  5.2  4.1  1.5  0.1  Iris-setosa
32  5.5  4.2  1.4  0.2  Iris-setosa
33  4.9  3.1  1.5  0.1  Iris-setosa
34  5.0  3.2  1.2  0.2  Iris-setosa
35  5.5  3.5  1.3  0.2  Iris-setosa
36  4.9  3.1  1.5  0.1  Iris-setosa
37  4.4  3.0  1.3  0.2  Iris-setosa
38  5.1  3.4  1.5  0.2  Iris-setosa
39  5.0  3.5  1.3  0.3  Iris-setosa
40  4.5  2.3  1.3  0.3  Iris-setosa
41  4.4  3.2  1.3  0.2  Iris-setosa
42  5.0  3.5  1.6  0.6  Iris-setosa
43  5.1  3.8  1.9  0.4  Iris-setosa
44  4.8  3.0  1.4  0.3  Iris-setosa
45  5.1  3.8  1.6  0.2  Iris-setosa
46  4.6  3.2  1.4  0.2  Iris-setosa
47  5.3  3.7  1.5  0.2  Iris-setosa
48  5.0  3.3  1.4  0.2  Iris-setosa

In [56]:
df

      sl   sw   pl   pw     flower_type
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[145 rows x 5 columns]

In [97]:
df.head()

    sl   sw   pl   pw      species
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa

In [96]:
df.head()
print(df.iloc[0]) #position based
print(df.loc[8]) # lable based

sl                 4.6
sw                 3.1
pl                 1.5
pw                 0.2
species    Iris-setosa
Name: 2, dtype: object
sl                 4.9
sw                 3.1
pl                 1.5
pw                 0.1
species    Iris-setosa
Name: 8, dtype: object

In [62]:
##add row
df.loc[149]=[1,2,3,4,'Iris-setosa']

In [64]:
df.tail()

      sl   sw   pl   pw     flower_type
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris-setosa
149  1.0  2.0  3.0  4.0     Iris-setosa

In [97]:
import pandas as pd
flowers=pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
fd=flowers.copy()
fd.head()
c=fd[fd.variety=='Setosa']
d=fd[fd.variety=='Versicolor']
e=fd[fd.variety=='Virginica']
print(c.count().variety,d.count().variety,e.count().variety)

50 50 50

In [190]:
import pandas as pd
flowers=pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
cd=flowers.copy()
cd.columns=['sepal.length', 'sepal.width', 'pl', 'petal.width','variety']

cd=cd[cd.variety=='Virginica']
cd

     sepal.length  sepal.width   pl  petal.width    variety
100           6.3          3.3  6.0          2.5  Virginica
101           5.8          2.7  5.1          1.9  Virginica
102           7.1          3.0  5.9          2.1  Virginica
103           6.3          2.9  5.6          1.8  Virginica
104           6.5          3.0  5.8          2.2  Virginica
105           7.6          3.0  6.6          2.1  Virginica
106           4.9          2.5  4.5          1.7  Virginica
107           7.3          2.9  6.3          1.8  Virginica
108           6.7          2.5  5.8          1.8  Virginica
109           7.2          3.6  6.1          2.5  Virginica
110           6.5          3.2  5.1          2.0  Virginica
111           6.4          2.7  5.3          1.9  Virginica
112           6.8          3.0  5.5          2.1  Virginica
113           5.7          2.5  5.0          2.0  Virginica
114           5.8          2.8  5.1          2.4  Virginica
115           6.4          3.2  5.3          2.3  Virginica
116           6.5          3.0  5.5          1.8  Virginica
117           7.7          3.8  6.7          2.2  Virginica
118           7.7          2.6  6.9          2.3  Virginica
119           6.0          2.2  5.0          1.5  Virginica
120           6.9          3.2  5.7          2.3  Virginica
121           5.6          2.8  4.9          2.0  Virginica
122           7.7          2.8  6.7          2.0  Virginica
123           6.3          2.7  4.9          1.8  Virginica
124           6.7          3.3  5.7          2.1  Virginica
125           7.2          3.2  6.0          1.8  Virginica
126           6.2          2.8  4.8          1.8  Virginica
127           6.1          3.0  4.9          1.8  Virginica
128           6.4          2.8  5.6          2.1  Virginica
129           7.2          3.0  5.8          1.6  Virginica
130           7.4          2.8  6.1          1.9  Virginica
131           7.9          3.8  6.4          2.0  Virginica
132           6.4          2.8  5.6          2.2  Virginica
133           6.3          2.8  5.1          1.5  Virginica
134           6.1          2.6  5.6          1.4  Virginica
135           7.7          3.0  6.1          2.3  Virginica
136           6.3          3.4  5.6          2.4  Virginica
137           6.4          3.1  5.5          1.8  Virginica
138           6.0          3.0  4.8          1.8  Virginica
139           6.9          3.1  5.4          2.1  Virginica
140           6.7          3.1  5.6          2.4  Virginica
141           6.9          3.1  5.1          2.3  Virginica
142           5.8          2.7  5.1          1.9  Virginica
143           6.8          3.2  5.9          2.3  Virginica
144           6.7          3.3  5.7          2.5  Virginica
145           6.7          3.0  5.2          2.3  Virginica
146           6.3          2.5  5.0          1.9  Virginica
147           6.5          3.0  5.2          2.0  Virginica
148           6.2          3.4  5.4          2.3  Virginica
149           5.9          3.0  5.1          1.8  Virginica

In [193]:
df.reset_index()

     index   sl   sw   pl   pw     flower_type
0        4  5.4  3.9  1.7  0.4     Iris-setosa
1        5  4.6  3.4  1.4  0.3     Iris-setosa
2        6  5.0  3.4  1.5  0.2     Iris-setosa
3        7  4.4  2.9  1.4  0.2     Iris-setosa
4        8  4.9  3.1  1.5  0.1     Iris-setosa
..     ...  ...  ...  ...  ...             ...
142    146  6.5  3.0  5.2  2.0  Iris-virginica
143    147  6.2  3.4  5.4  2.3  Iris-virginica
144    148  5.9  3.0  5.1  1.8  Iris-virginica
145      0  1.0  2.0  3.0  4.0     Iris-setosa
146    149  1.0  2.0  3.0  4.0     Iris-setosa

[147 rows x 6 columns]

In [199]:
df.reset_index(drop=True,inplace=True)
df

      sl   sw   pl   pw     flower_type
0    5.4  3.9  1.7  0.4     Iris-setosa
1    4.6  3.4  1.4  0.3     Iris-setosa
2    5.0  3.4  1.5  0.2     Iris-setosa
3    4.4  2.9  1.4  0.2     Iris-setosa
4    4.9  3.1  1.5  0.1     Iris-setosa
..   ...  ...  ...  ...             ...
142  6.5  3.0  5.2  2.0  Iris-virginica
143  6.2  3.4  5.4  2.3  Iris-virginica
144  5.9  3.0  5.1  1.8  Iris-virginica
145  1.0  2.0  3.0  4.0     Iris-setosa
146  1.0  2.0  3.0  4.0     Iris-setosa

[147 rows x 5 columns]

In [203]:
df.drop('sl',axis=1,inplace=True)

KeyError: "['sl'] not found in axis"

In [206]:
df.describe()

               sw          pl          pw
count  147.000000  147.000000  147.000000
mean     3.031973    3.828571    1.270748
std      0.450568    1.729003    0.813938
min      2.000000    1.000000    0.100000
25%      2.800000    1.600000    0.400000
50%      3.000000    4.400000    1.400000
75%      3.300000    5.100000    1.800000
max      4.400000    6.900000    4.000000

In [208]:
del df['sw']

KeyError: 'sw'

In [209]:
df.describe()

               pl          pw
count  147.000000  147.000000
mean     3.828571    1.270748
std      1.729003    0.813938
min      1.000000    0.100000
25%      1.600000    0.400000
50%      4.400000    1.400000
75%      5.100000    1.800000
max      6.900000    4.000000

In [212]:
df=iris.copy()
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [214]:
df.columns=['sl','sw','pl','pw','flower_type']

In [216]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [217]:
df.tail()

      sl   sw   pl   pw     flower_type
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [219]:
df["diff_pl_pw"]=df['pl']-df['pw']

In [220]:
df.tail()

      sl   sw   pl   pw     flower_type  diff_pl_pw
144  6.7  3.0  5.2  2.3  Iris-virginica         2.9
145  6.3  2.5  5.0  1.9  Iris-virginica         3.1
146  6.5  3.0  5.2  2.0  Iris-virginica         3.2
147  6.2  3.4  5.4  2.3  Iris-virginica         3.1
148  5.9  3.0  5.1  1.8  Iris-virginica         3.3

In [333]:
import pandas as pd
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
df=iris.copy()
df.columns=['sl', 'sw', 'pl', 'pw', 'species']
df.loc[149]=[5.1, 3.5, 1.4, 0.2, 'Iris-setosa']
setosa=df[df.species=='Iris-setosa'].reset_index(drop=True).drop('species', axis=1)
versicolor=df[df.species=='Iris-versicolor'].reset_index(drop=True).drop('species', axis=1)
virginica=df[df.species=='Iris-virginica'].reset_index(drop=True).drop('species', axis=1)

for i in setosa:
    print(format(setosa[i].min(axis=0), '.2f'), end=' ')# format documentation 
print('Iris-setosa')
for i in setosa:
    print(format(setosa[i].max(axis=0), '.2f'), end=' ')
print('Iris-setosa')
for i in setosa:
    print(format(setosa[i].mean(axis=0), '.2f'), end=' ')
print('Iris-setosa')

for i in versicolor:
    print(format(versicolor[i].min(axis=0), '.2f'), end=' ')
print('Iris-versicolor')
for i in setosa:
    print(format(versicolor[i].max(axis=0), '.2f'), end=' ')
print('Iris-versicolor')
for i in setosa:
    print(format(versicolor[i].mean(axis=0), '.2f'), end=' ')
print('Iris-versicolor')

for i in virginica:
    print(format(virginica[i].min(axis=0), '.2f'), end=' ')
print('Iris-virginica')
for i in setosa:
    print(format(virginica[i].max(axis=0), '.2f'), end=' ')
print('Iris-virginica')
for i in setosa:
    print(format(virginica[i].mean(axis=0), '.2f'), end=' ')
print('Iris-virginica')

4.3 2.3 1.0 0.1 Iris-setosa
5.8 4.4 1.9 0.6 Iris-setosa
5.01 3.43 1.46 0.25 Iris-setosa
4.9 2.0 3.0 1.0 Iris-versicolor
7.0 3.4 5.1 1.8 Iris-versicolor
6.0 2.77 4.26 1.33 Iris-versicolor
4.9 2.2 4.5 1.4 Iris-virginica
7.9 3.8 6.9 2.5 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

In [84]:
import pandas as pd
iris=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
df=iris.copy()
df.columns=['sl', 'sw', 'pl', 'pw', 'species']
df.loc[149]=[5.1, 3.5, 1.4, 0.2, 'Iris-setosa']
setosa=df[df.species=='Iris-setosa'].reset_index(drop=True).drop('species', axis=1)
versicolor=df[df.species=='Iris-versicolor'].reset_index(drop=True).drop('species', axis=1)
virginica=df[df.species=='Iris-virginica'].reset_index(drop=True).drop('species', axis=1)

for i in setosa:
    print(format(setosa[i].min(axis=0), '.2f'), end=' ')# format documentation 
print('Iris-setosa')
for i in setosa:
    print(format(setosa[i].max(axis=0), '.2f'), end=' ')
print('Iris-setosa')
for i in setosa:
    print(format(setosa[i].mean(axis=0), '.2f'), end=' ')
print('Iris-setosa')

for i in versicolor:
    print(format(versicolor[i].min(axis=0), '.2f'), end=' ')
print('Iris-versicolor')
for i in setosa:
    print(format(versicolor[i].max(axis=0), '.2f'), end=' ')
print('Iris-versicolor')
for i in setosa:
    print(format(versicolor[i].mean(axis=0), '.2f'), end=' ')
print('Iris-versicolor')

for i in virginica:
    print(format(virginica[i].min(axis=0), '.2f'), end=' ')
print('Iris-virginica')
for i in setosa:
    print(format(virginica[i].max(axis=0), '.2f'), end=' ')
print('Iris-virginica')
for i in setosa:
    print(format(virginica[i].mean(axis=0), '.2f'), end=' ')
print('Iris-virginica')

4.30 2.30 1.00 0.10 Iris-setosa
5.80 4.40 1.90 0.60 Iris-setosa
5.01 3.42 1.46 0.24 Iris-setosa
4.90 2.00 3.00 1.00 Iris-versicolor
7.00 3.40 5.10 1.80 Iris-versicolor
5.94 2.77 4.26 1.33 Iris-versicolor
4.90 2.20 4.50 1.40 Iris-virginica
7.90 3.80 6.90 2.50 Iris-virginica
6.59 2.97 5.55 2.03 Iris-virginica

In [45]:
min_data_pw_Virginica = vir["pw"].min() 
max_data_pw_Virginica = vir["pw"].max() 
avg_data_pw_Virginica = vir["pw"].mean()
avg_data_pw_Virginica

2.026

In [49]:
max_data_sl_Versicolor

7.0

In [12]:
import pandas as pd
flowers=pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
rf=flowers.copy()
rf

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [11]:
import pandas as pd
flowers=pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
rf=flowers.copy()
rf.columns=['sl', 'sw', 'pl', 'pw','variety']
print(rf["sl"].value_counts() )
print(rf["pl"].value_counts() )
print(rf["sw"].value_counts() )

print(rf["pw"].value_counts() )

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: sl, dtype: int64
1.5    13
1.4    13
5.1     8
4.5     8
1.3     7
1.6     7
5.6     6
4.0     5
4.9     5
4.7     5
4.8     4
1.7     4
4.4     4
4.2     4
5.0     4
4.1     3
5.5     3
4.6     3
6.1     3
5.7     3
3.9     3
5.8     3
1.2     2
1.9     2
6.7     2
3.5     2
5.9     2
6.0     2
5.4     2
5.3     2
3.3     2
4.3     2
5.2     2
6.3     1
1.1     1
6.4     1
3.6     1
3.7     1
3.0     1
3.8     1
6.6     1
6.9     1
1.0     1
Name: pl, dtype: int64
3.0    26
2.8    14
3.2    13
3.4    12
3.1    11
2.9    10
2.7     9
2.5     8
3.5     6
3.8     6
3.3     6
2.6     5
2.3     4
3.6     4
2.4     3
2.2     3
3.7     3
3.9     2
4.2     1
4.1     1
4.4     1
2.0     1
4.0     1
Name: sw, dtype: int64
0.2    29
1.3    13
1.5    12
1.8    12
1.4     8
2.3     8
1.0     7
0.3     7
0.4     7
2.0     6
2.1     6
0.1     5
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: pw, dtype: int64

In [24]:
import pandas as pd
iris=pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
ef=iris.copy()
ef.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [26]:
ef.iloc[2:4,1:3]=np.nan
ef.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  NaN  NaN  0.2  Iris-setosa
3  5.0  NaN  NaN  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [28]:
ef.columns=['sl','sw','pl','pw','flower_type']
ef.describe()

               sl          sw          pl          pw
count  149.000000  147.000000  147.000000  149.000000
mean     5.848322    3.046939    3.806122    1.205369
std      0.828594    0.434048    1.750351    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [30]:
ef.dropna()

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 5 columns]

In [31]:
ef.reset_index(drop=True,inplace=True)

In [33]:
ef.dropna()

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 5 columns]

In [37]:
ef.dropna(inplace=True)

In [39]:
ef.reset_index(drop=True,inplace=True)

In [40]:
ef

      sl   sw   pl   pw     flower_type
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    5.4  3.9  1.7  0.4     Iris-setosa
3    4.6  3.4  1.4  0.3     Iris-setosa
4    5.0  3.4  1.5  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
142  6.7  3.0  5.2  2.3  Iris-virginica
143  6.3  2.5  5.0  1.9  Iris-virginica
144  6.5  3.0  5.2  2.0  Iris-virginica
145  6.2  3.4  5.4  2.3  Iris-virginica
146  5.9  3.0  5.1  1.8  Iris-virginica

[147 rows x 5 columns]

In [41]:
ef.iloc[2:4,1:3]=np.nan
ef.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  5.4  NaN  NaN  0.4  Iris-setosa
3  4.6  NaN  NaN  0.3  Iris-setosa
4  5.0  3.4  1.5  0.2  Iris-setosa

In [42]:
ef.sw.fillna(ef.sw.mean(),inplace=True)
ef.pl.fillna(ef.pl.mean(),inplace=True)
ef

      sl        sw        pl   pw     flower_type
0    4.9  3.000000  1.400000  0.2     Iris-setosa
1    4.7  3.200000  1.300000  0.2     Iris-setosa
2    5.4  3.038621  3.837241  0.4     Iris-setosa
3    4.6  3.038621  3.837241  0.3     Iris-setosa
4    5.0  3.400000  1.500000  0.2     Iris-setosa
..   ...       ...       ...  ...             ...
142  6.7  3.000000  5.200000  2.3  Iris-virginica
143  6.3  2.500000  5.000000  1.9  Iris-virginica
144  6.5  3.000000  5.200000  2.0  Iris-virginica
145  6.2  3.400000  5.400000  2.3  Iris-virginica
146  5.9  3.000000  5.100000  1.8  Iris-virginica

[147 rows x 5 columns]

In [107]:
import pandas as pd
import numpy as np
import csv
terr=pd.read_csv('Dataset/terrorismData_1.csv')
gf=terr.copy()
c=gf[gf.State=='Jammu and Kashmir']
#c=c.dropna(inplace=True)
#c=c[c.City=='unknown']
c.reset_index(drop=True,inplace=True)
def f(s):
    if s=='Unknown':
        return 0
    else:
        return 1
c['Group_known']=c.Group.apply(f)
c=c[c.Group_known!=0]
del c['Group_known']
city=c['City'].value_counts()

<ipython-input-107-427f05aa0722>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c['Group_known']=c.Group.apply(f)

ValueError: Can only tuple-index with a MultiIndex

In [128]:
import pandas as pd
td=pd.read_csv('Dataset/terrorismData_1.csv')
df=td.copy()
df=df[df.State=='Jammu and Kashmir']
df=df[df.City==df.City.describe().top]
count=df.shape[0]
df=df[df.Group!='Unknown']
city=df.City.describe().top
group=df.Group.describe().top
print(city,count,group)

Srinagar 657 Muslim Separatists

In [159]:
import pandas as pd
td=pd.read_csv('Dataset/terrorismData_1.csv')
df=td.copy()
df=df[df.Country==df.Country.describe().top]
count=df.shape[0]
country=df.Country.describe().top

year={}
for i in df.Year:
    year[i]=year.get(i,0)+1
Keymax = max(year, key=year.get)
Keymax
print(country,count,Keymax)

Iraq 24636 2014

In [211]:
import pandas as pd
td=pd.read_csv('Dataset/terrorismData_1.csv')
df=td.copy()
c=df.Killed.max()
df=df[df.Killed==c]
killed=df.iloc[:,10:11]
killed=killed.to_csv(header=False,index=False)
killed=str(killed)

country=df.iloc[:,3:4]
country=country.to_csv(header=False,index=False)

group=df.iloc[:,14:15]
group=group.to_csv(header=False,index=False)
group=str(group)
print(int(float(killed)),'Iraq','Islamic State of Iraq and the Levant (ISIL)')

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

In [79]:
import pandas as pd
td=pd.read_csv('Dataset/terrorismData_1.csv')
df=td.copy()
a=df[df.Day>=26]
b=a[a.Year==2014]
c=b[b.Country=='India']
data1=c[c.Month==5]
del a,b,c
a=df[df.Year==2014]
b=a[a.Country=='India']
c=b[b.Month>5]
data2=c
del a,b,c
a=df[df.Year>2014]
data3=a[a.Country=='India']
count=data1.shape[0]+data2.shape[0]+data3.shape[0]
data1=data1[data1.Group!='Unknown']
data2=data2[data2.Group!='Unknown']
data3=data3[data3.Group!='Unknown']
data3=data3.Group.describe().top
print(count,data3)

3336 Maoists

In [121]:
import pandas as pd
import numpy as np
td=pd.read_csv('Dataset/terrorismData_1.csv')
df=td.copy()
year=len(set(df['Year']))
df_country=df[df.Country=='India']
df_country['casualty']=df_country['Killed']+df_country['Wounded']
Jammu=df_country[df_country['State']=='Jammu and Kashmir']
red_state=df_country[(df_country['State']=='Jharkhand')|(df_country['State']=='Odisha')|(df_country['State']=='Andhra Pradesh')|(df_country['State']=='Chhattisgarh')]
Jammu_casualty=int(np.sum(Jammu['casualty']))
red_state_casualty=int(np.sum(red_state['casualty']))
print(red_state_casualty//year,Jammu_casualty//year)

<ipython-input-121-57cb380f1159>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_country['casualty']=df_country['Killed']+df_country['Wounded']

ValueError: cannot convert float NaN to integer